{% extends 'home/base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/journal.css' %}">
{% endblock %}
{% block body %}

<div class="home-street" id="lightgallery">
  {% for dd in data %}
        <div class="stand row" >
            <div class="col-md-4 my-fig">
                <div class="dot"></div>
                <div class="conn"></div>
                <figure class="opp-rot photo-item" data-src="{{dd.0.img.url}}"
                        data-sub-html="<h4>{{ dd.0.caption }}</h4>">
                    <a href="{{dd.0.img.url}}"><img src="{{dd.0.img.url}}" alt="img" /></a>
                </figure>
            </div>
            <div class="col-md-4 my-fig">
                <div class="dot"></div>
                <div class="conn"></div>
                <figure class="rot photo-item" data-src="{{dd.1.img.url}}"
                    data-sub-html="<h4>{{ dd.1.caption }}</h4>">
                    <a href="{{dd.1.img.url}}"><img src="{{dd.1.img.url}}" alt="img" /></a>
                </figure>
            </div>
            <div class="col-md-4 my-fig">
                <div class="dot"></div>
                <div class="conn"></div>
                <figure class="opp-rot photo-item" data-src="{{dd.2.img.url}}"
                data-sub-html="<h4>{{ dd.2.caption }}</h4>">
                    <a href="{{dd.2.img.url}}"><img src="{{dd.2.img.url}}" alt="img" /></a>
                </figure>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
