{% extends 'home/base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/still.css' %}">
{% endblock %}
{% block body %}
<div class="home-journal" id="gallery">
  {% for dd in data %}
    <div class="wrapper">
        <div class="shelf-pack">
            <div class="my-fig">
                <figure>
                    <a href="{{dd.0.img.url}}" data-lightbox="gallery" data-title="{{dd.0.caption}}"><img src="{{dd.0.img.url}}" class="book"></a>
                    <figcaption>{{dd.0.caption}}</figcaption>
                </figure>
            </div>
            <div class="my-fig">
                <figure>
                    <a href="{{dd.1.img.url}}" data-lightbox="gallery" data-title="{{dd.1.caption}}"><img src="{{dd.1.img.url}}" class="book"></a>
                    <figcaption>{{dd.1.caption}}</figcaption>
                </figure>
            </div>
            <div class="my-fig">
                <figure>
                    <a href="{{dd.2.img.url}}" data-lightbox="gallery" data-title="{{dd.2.caption}}"><img src="{{dd.2.img.url}}" class="book"></a>
                    <figcaption>{{dd.2.caption}}</figcaption>
                </figure>
            </div>
        </div>
        <div class="shelf col-md-12"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
