{% extends 'home/base.html' %} {% block body %} {% load staticfiles %}
<div class="main-frame">
    <div class="home" id="gallery">
        <section id="photostack-2" class="photostack photostack-start">
            <div>
                {% for frame in all_img %}
                <figure>
                    <a href={{frame.img.url}} class="photostack-img" data-lightbox="photostack-2" data-title={{frame.caption}}><img src="{{frame.img.url}}" alt="img" /></a>
                    <figcaption>
                        <h2 class="photostack-title">{{frame.caption}}</h2>
                        <div class="photostack-back">
                            <p>{{frame.backtext}}</p>
                        </div>
                    </figcaption>
                </figure>
                {% endfor %}
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/7.jpg' %}" alt="img07" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Lovely Green</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/8.jpg' %}" alt="img08" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Wonderful</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/9.jpg' %}" alt="img09" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Love Addict</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/10.jpg' %}" alt="img10" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Friendship</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/11.jpg' %}" alt="img11" /></a>
                    <figcaption>
                        <h2 class="photostack-title">White Nights</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/12.jpg' %}" alt="img12" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Serendipity</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/13.jpg' %}" alt="img13" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Pure Soul</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/14.jpg' %}" alt="img14" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Winds of Peace</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/15.jpg' %}" alt="img15" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Shades of blue</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{% static 'home/dummyimage/16.jpg' %}" alt="img16" /></a>
                    <figcaption>
                        <h2 class="photostack-title">Lightness</h2>
                    </figcaption>
                </figure>
            </div>
        </section>
        <div class="alter"><p>Asif Iqbal</p></div>
    </div>
</div>
{% endblock %} {% block jsblock %}
<script src="{% static 'home/js/photostack.js' %}"></script>
<script>
    // [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );

    new Photostack(document.getElementById('photostack-2'), {
        callback: function(item) {
            //console.log(item)
        }
    });
</script>
{% endblock %}
