{% extends 'home/base.html' %} {% load static %}{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'bio/css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bio/css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bio/css/bio.css' %}"> {% endblock %} {% block body %}
<div class="home-bio">
    <div class="row">
        <div class="col-md-6">
            <div class="pile middle">
                <ul id="elasticstack" class="elasticstack">
                    {% for frame in all_img %}
                    <li><img src="{{frame.img.url}}" alt="img" />
                        {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="about middle">
                <h2>Asif Iqbal</h2>
                <p>Hi, I am Asif Iqbal. A <span>photogapher</span> photographer,a traveller and obviously I have to mention "a human"</p>
                <p>I want to see the storm sitting on top of a mountain</p>
                <p>I want to see the stars lying on a boat in mid sea</p>
                <p>want to tell everyone the story of life in night of a bright full moon</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block jsblock %}
<script src="{% static 'bio/js/draggabilly.pkgd.min.js' %}"></script>
<script src="{% static 'bio/js/elastiStack.js' %}"></script>
<script>
    new ElastiStack(document.getElementById('elasticstack'));
</script>
{% endblock %}
