.stand {
    width: 85%;
    max-width: 1024px;
    margin: auto;
    box-sizing: border-box;
}


.my-fig {
    text-align: center;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 210px;
}

.row {
    width: 99%;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 999px;
    background-color: #fff;
    margin: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.conn {
    width: 0px;
    height: 50px;
    border-left: 2px solid white;
    margin: auto;
}

.rot {
    background-color: white;
    border: 15px solid white;
    border-bottom: 15px solid white;
    transform: rotate(2deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    min-width: 210px;
}

.opp-rot {
    background-color: white;
    border: 15px solid white;
    border-bottom: 15px solid white;
    transform: rotate(-2deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    min-width: 210px;
}

figcaption {
    margin-top: 10px;
    line-height: 40px;
    vertical-align: middle;
    color: grey;
    font-size: 20px;
    font-family: "Give You Glory", cursive;
}

figure img {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.home-street {
    margin: 0 auto;
    width: 80%;
}
