.home-journal {
    width: 80%;
    max-width: 1200px;
    margin: 10px auto 40px;
}
.wrapper{
  margin: auto;
}
.my-fig {
    text-align: center;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: table-cell;
}

figure {
    background: white;
    max-width: 260px;
    border: 15px solid white;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.shelf-pack {
    margin: auto auto 10px;
    display: table;
}

.shelf {
    border-bottom: 30px solid rgba(0, 0, 0, .3);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -15px;
    z-index: -10;
    display: block;
    margin: auto;
    min-width: 300px;
}

.book {
    border: 1px solid rgba(0, 0, 0, 0.3);
    vertical-align: bottom;
}


/*Example adding pseudo element to give shelf depth*/

.shelf:after {
    content: '';
    background: rgba(0, 0, 0, .5);
    height: 12px;
    width: calc(100% + 40px);
    /*IE9+*/
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    margin: 0 -20px;
}

.foot {
    margin-top: 7%;
}

@media screen and (max-width: 820px) {
    .shelf-pack {
        margin-bottom: 10px;
        width: 100%;
    }
    .my-fig {
        width: 100%;
        float: left;
    }
}
